.header{
    width: 100%;
    height: 90px;
    background-color:#191919e8;;
}
.logo{
    background-image:url("../assets/images/movieHub.png");
    background-size:cover;
    width: 260px;
    height: 90px;
}